body{
  font-family: 'Raleway',serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
img{float:left;

}
.sidebar{
  width:30%
  float:right;
  background-color: yellow;
}
h2{
  font-size: 100px;

}
.p1{
  font-size: 40px;
}
.test-box {background-color: white;
    width: 300px;
    border: 25px solid blue;
    padding: 25px;
    margin: 25px;
  }
